h1{
    color: red;
    color: transparent;
    color: rgb(0, 0, blue);
    color: green;
    color: rgba(red, green, blue, 0.2);
    color: #00ff00;
    color: hsl(hue, saturation, lightness);
    color: hwb(hue white black);
}