#container{
    width: 700px;
    height: 600px;
}
h1{
    font-size: 130px;
    float: left;
    height: 600px;
    background-color: cadetblue;
}
.blue{
    color:darkblue;
}
.orangered{
    color: orangered;
}
#third{
    color: orange;
}
#fifth{
    color: green;
}
marquee{
    width: 100px;
    height: 600px;
}